.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    margin: 20px auto;
    width: 240px;
    height: 350px;
    background-color: #ffffff2d;
    color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09);
    animation-name: cards;
    animation-duration: 1s;
}

.projects-main h1 {
    font-size: 30px;
    color: #ffffff;
    padding: 5px;
    animation-name: title;
    animation-duration: 1s;
    margin-bottom: 0;
}

#info {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

p {
    background-color: #00000097;
    color: #ffffff;
    margin: 0;
    padding: 10px;
}

.project-image-wrapper {
    width: 200px;
    margin: 10px auto;
}

.project-image-wrapper img {
    width: 100%;
}

.project:hover #info {
    opacity: 0.3;
}

.show-more {
    opacity: 0;
    width: 140px;
    margin: 0 auto;
    color: #000000;
}

.project:hover .show-more {
    opacity: 1;
    background-color: #9CD243;
    width: 200px;
    transition: width .3s linear;
}

@keyframes title {
    from {
        opacity: 0;
        background-color: #ffffff65;
    }

    to {
        opacity: 1;
        background-color: none;
    }
}


@keyframes cards {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
    .show-more {
        opacity: 1;
        background-color: #9CD243;
        width: 200px;
        transition: width .3s linear;
    }

    .projects-main {
        background: linear-gradient(132deg, rgba(20,25,34,1) 0%, rgba(44,53,69,1) 63%, rgba(60,71,86,0.9587185215883228) 100%);
    }
}