.not-found {
    margin: 70px;
}

.not-found h1 {
    font-size: 40px;
    color: #ffffff;
    padding: 5px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.not-found a {
    margin: 20px;
    text-decoration: none;
    background-color: #9CD243;
    padding: 3px 10px;
    color: #000000;
}

.not-found a:hover {
    zoom: 1.05;
}

.not-found a:active {
    color: #000000;
}
