.contact-page {
    padding: 30px;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 0.286);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09);
    animation-name: contact;
    animation-duration: 1s;
}

.personal-intro {
    padding: 15px 0;
}

.personal-intro-more-info p {
    text-align: left;
    padding:  0 20px 15px 20px;
}

.other-skills-ul {
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}

.other-skills-ul li {
    margin: 10px;
}


.other-technologies {
    /* background-color: #9bd2437e; */
    background-color: #ffffffcd;
    padding-bottom: 5px;
    font-size: 14px;
}

.personal-image-wrapper {
    width: 150px;
    margin: 20px auto;
}

.personal-image-wrapper img {
    width: 100%;
    border-radius: 50%;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

ul .contacts-li {
    list-style-type: none;
    margin: 10px;
    font-size: 30px;
}

ul .contacts-li a svg {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 6px 8px;
}

ul .contacts-li a svg:hover {
    color: #9CD243;
    background-color: #00000064;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 6px 8px;

}

ul .contacts-li #github {
    color: #161B22;
}

ul .contacts-li #linkedin {
    color: #0A66C2;
}

ul .contacts-li #mail {
    color: #743c08;
}

.png-image-wrapper {
    width: 50px;
}

.png-image-wrapper img {
    width: 100%;
}

@keyframes contact {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
    .contact-page {
        width: fit-content;
        margin: 15px;
    }
}