.home-container {
    background-image: url('../../../public/background.jpeg');
    background-size: cover;
}

.home-title {
    /* position: absolute; */
    /* top: 145px; */
    width: 100%;
    margin: 0 auto;
}

.home-title h1 {
    font-size: 30px;
    color: #ffffff;
    padding: 5px;
    animation-name: title;
    animation-duration: 1s;
    margin-bottom: 0;
}

#author {
    font-size: 25px;
}

.custom-icon {
    /* position: absolute; */
    /* top: 135px; */
    /* bottom: 0; */
    font-size: 150px;
}

/* .custom-icon:nth-child(1) {
    left: 40%;
    animation-name: first;
    animation-duration: 1s;
    animation-delay: .002s;

}

.custom-icon:nth-child(2) {
    left: 50%;
    animation-name: second;
    animation-duration: 1s;
    animation-delay: .001s;
}

.custom-icon:nth-child(3) {
    left: 55%;
    animation-name: third;
    animation-duration: 1s;
}

@keyframes title {
    from {
        opacity: 0;
        background-color: #ffffff65;
    }

    to {
        opacity: 1;
        background-color: none;
    }
}

@keyframes first {
    from {
        opacity: 0;
        left: 0;
    }

    to {
        opacity: 1;
        left: 40%;
    }
}

@keyframes second {
    from {
        opacity: 0;
        left: 0;
    }

    to {
        opacity: 1;
        left: 50%;
    }
}

@keyframes third {
    from {
        opacity: 0;
        left: 0;
    }

    to {
        opacity: 1;
        left: 55%;
    }
} */

/* RESPONSIVE */

@media screen and (max-width: 600px) {

    .home-title {
        padding-top: 200px;
        height: 100vh;
    }

    #author {
        color: #717171;
    }

    .custom-icon {
        top: 350px;
    }

    .custom-icon:nth-child(1) {
        left: 21%;

    }

    .custom-icon:nth-child(2) {
        left: 45%;
    }

    .custom-icon:nth-child(3) {
        left: 57%;
    }

    @keyframes first {
        from {
            opacity: 0;
            left: 0;
        }

        to {
            opacity: 1;
            left: 21%;
        }
    }

    @keyframes second {
        from {
            opacity: 0;
            left: 0;
        }

        to {
            opacity: 1;
            left: 45%;
        }
    }

    @keyframes third {
        from {
            opacity: 0;
            left: 0;
        }

        to {
            opacity: 1;
            left: 57%;
        }
    }
}