.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff52;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09);
    align-items: center;
}

aside {
    padding: 20px;
    width: 60px;
}

.menu {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;

}

.toggleNav {
    display: none;
    position: absolute;
    /* background-color: #9bd243cc; */
    background-color: #9bd243;
    width: 100px;
}


.toggleNav a {
    text-decoration: none;
    display: block;
    padding: 5px 0px;
    margin: 5px;
}

.toggleNav a.active, .toggleNav a:active {
    background-color: rgba(255, 255, 255, 0.604);
    color: #000000;
}

.toggleNav a:hover {
    font-weight: bold;
}

.navPanel:hover .toggleNav {
    display: block;
}

.logo-image-wrapper {
    width: 150px;
}

.logo-image-wrapper img{
    width: 100%;
}