.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffffde;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.09);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    display: none;
}

.nav-content {
    display: flex;
    /* background-color: #9bd243cc; */
    background-color: #9bd243ec;
    width: 300px;
    justify-content: space-around;
}


.nav-content a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 8px;
}

.nav-content a.active, .nav-content a:active {
    background-color: rgba(255, 255, 255, 0.604);
    color: #000000;
}

.nav-content a:hover {
    background-color: rgba(255, 255, 255, 0.375);
}

.logo-image-wrapper {
    width: 150px;
}

.logo-image-wrapper img {
    width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {

    .header {
        flex-direction: column-reverse;
        width: 100%;
        z-index: 1;
    }

    .nav-content {
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 1;
    }

    .header:hover>.nav-content {
        display: flex;
    }

    .menu {
        display: block;
        background-color: #9bd243ec;
        margin: 0 auto;
        width: 100%;
        padding: 5px;
        font-weight: bold;
        font-size: 18px;
    }
}