@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  /* background-image: url('../public/background.jpeg'); */
  /* background-size: cover; */
  /* background-repeat: round; */
  background-color: #2B3443;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.content {
  padding-top: 100px;
  height: 100vh;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
  body {
    background-size: auto;
  }

  .content {
    height: fit-content;
  }
}